<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:insert="fragments/fragments.html :: header"/>
	
	<body>
			
		<div th:replace="fragments/fragments.html :: navigation"></div>
		
		<div class="container">
			<div class="card">
				  <div class="card-header">
				    <h2>Comptes bancaires</h2>
				  </div>
				  <div class="card-body">
				    <table class="table">
				    <thead>
					    <tr>
					      <th scope="col">Identifiant</th>
					      <th scope="col">Montant</th>
					    </tr>
					  </thead>
				    <tbody>
					    <tr th:each="compte:${comptes}">
					        <td th:text="${compte.identifiant}" />
					        <td th:text="${compte.montant}" />
					    </tr>
					    
					    
					</tbody>
					</table>
				  </div>
				  
				  
		</div>
		
		
		<div th:replace="fragments/fragments.html :: scripts"></div>
		
	</body>
	</html>